body {
  font-family: "PT Sans";
  font-size: 18px;
}
.app__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 4fr 10fr;
  /* grid-gap: ; */
}
.app__main {
  grid-area: main;
  background-color: #fefefe;
  padding: 50px;
}
